<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <title>WP lab - Confirmation Info</title>-->
<!--    <style type="text/css">-->
<!--        body {-->
<!--            width: 800px;-->
<!--            margin: auto;-->
<!--        }-->
<!--        table {-->
<!--            width:100%;-->
<!--        }-->
<!--        table, td, th {-->
<!--            border: 1px solid black;-->
<!--            padding: 3px 2px;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<section>
    <header>
        <h1>Balloon Order page - Order confirmation </h1>
    </header>
    <table>
        <tr>
            <th colspan="2">
                Your Order Status
            </th>
        </tr>
        <tr>
            <td><b>Client Name </b></td>
<!--            <td th:text="${session.user.username}"></td>-->
            <td th:text="${#request.getRemoteUser()}"></td> <!--Petko Petkov -->
        </tr>
        <tr>
            <!--<td><b>Client Address </b></td>
            <td th:text="${session.order.clientAddress}"></td>Partizanska 5, Skopje -->
        </tr>
        <tr>
            <td><b>Client IP Address</b></td>
<!--            <td th:text="${ipAddress}"></td> &lt;!&ndash; 127.0.0.1&ndash;&gt;-->
            <td th:text="${#request.getRemoteAddr()}"></td>
        </tr>
        <tr>
            <td><b>Client Browser</b></td>
<!--            <td th:text="${clientAgent}"></td> &lt;!&ndash;Mozilla &ndash;&gt;-->
            <td th:text="${#request.getHeader('User-Agent')}"></td>
        </tr>
        <tr>
            <td><b>Balloon Color </b></td>
            <td th:text="${session.color}"></td><!-- Red Balloon -->
        </tr>
        <tr>
            <td><b>Balloon Size </b></td>
             <td th:text="${session.size}"></td>  <!--Large-->
        </tr>
<!--        <tr>-->
<!--            <td><b>Username </b></td>-->
<!--            <td th:text="${session.user.username}"></td>  &lt;!&ndash;Large&ndash;&gt;-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><b>Date Create </b></td>-->
<!--            <td th:text="${session.order.dateCreated}"></td>  &lt;!&ndash;Large&ndash;&gt;-->
<!--        </tr>-->

    </table>
<!--    <div>-->
<!--        <label for="dateCreated">Created on</label>-->
<!--        <input type="datetime-local"  id="dateCreated" placeholder="Date Createdh" name="dateCrated" required=""/>-->
<!--    </div>-->
    <div>
        <a href="/balloons">Log out</a>
    </div>
    <br/>

    <form>
        <a href="/orders">Order</a>
    </form>

</section>
<!--</body>-->
<!--</html>-->